[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
	branch = master
[submodule "janus/rust-lang"]
	path = janus/rust-lang
	url = https://github.com/rust-lang/rust.vim.git
