[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
	branch = master
[submodule "janus/rust-lang"]
	path = janus/rust-lang
	url = https://github.com/rust-lang/rust.vim.git
[submodule "janus/verilog_systemverilog.vim"]
	path = janus/verilog_systemverilog.vim
	url = https://github.com/vhda/verilog_systemverilog.vim.git
[submodule "janus/c-support"]
	path = janus/c-support
	url = https://github.com/WolfgangMehner/c-support.git
